{
  "openapi": "3.0.1",
  "info": {
    "title": "API",
    "description": "## Welcome\n\nThis is a place to put general notes and extra information, for internal use.\n\nTo get started designing/documenting this API, select a version on the left. # Title\nNo Description",
    "version": "3"
  },
  "servers": [
    {
      "url": "https://api.themoviedb.org/3"
    }
  ],
  "paths": {
    "/search/movie": {
      "get": {
        "summary": "Search Movies",
        "description": "Search for movies.",
        "operationId": "searchMovie",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "year",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "primary_release_year",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "integer"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/movie-list-object"
                      }
                    },
                    "total_results": {
                      "type": "integer"
                    },
                    "total_pages": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status_message": {
                      "type": "string"
                    },
                    "status_code": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status_message": {
                      "type": "string"
                    },
                    "status_code": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/search/tv": {
      "get": {
        "summary": "Search TV Shows",
        "description": "Search for a TV show.",
        "operationId": "searchTvShow",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "first_air_date_year",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "integer"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/tv-list-result-object"
                      }
                    },
                    "total_results": {
                      "type": "integer"
                    },
                    "total_pages": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status_message": {
                      "type": "string"
                    },
                    "status_code": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status_message": {
                      "type": "string"
                    },
                    "status_code": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/movie/popular": {
      "get": {
        "summary": "Get Popular",
        "description": "Get a list of the current popular movies on TMDb. This list updates daily.",
        "operationId": "getMoviePopulars",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "integer"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/movie-list-object"
                      }
                    },
                    "total_results": {
                      "type": "integer"
                    },
                    "total_pages": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status_message": {
                      "type": "string"
                    },
                    "status_code": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status_message": {
                      "type": "string"
                    },
                    "status_code": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/tv/popular": {
      "get": {
        "summary": "Get Popular",
        "description": "Get a list of the current popular TV shows on TMDb. This list updates daily.",
        "operationId": "getTvShowPopulars",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "integer"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/tv-list-result-object"
                      }
                    },
                    "total_results": {
                      "type": "integer"
                    },
                    "total_pages": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status_message": {
                      "type": "string"
                    },
                    "status_code": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status_message": {
                      "type": "string"
                    },
                    "status_code": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/movie/{movie_id}": {
      "get": {
        "summary": "Get Details",
        "description": "Get the primary information about a movie.\n\nSupports `append_to_response`. Read more about this [here](#docTextSection:JdZq8ctmcxNqyLQjp).",
        "operationId": "getMovieDetails",
        "parameters": [
          {
            "name": "movie_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "adult": {
                      "type": "boolean"
                    },
                    "backdrop_path": {
                      "$ref": "#/components/schemas/image-path"
                    },
                    "budget": {
                      "type": "integer"
                    },
                    "genres": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "id": {
                      "type": "integer"
                    },
                    "original_language": {
                      "type": "string"
                    },
                    "original_title": {
                      "type": "string"
                    },
                    "popularity": {
                      "type": "number"
                    },
                    "poster_path": {
                      "$ref": "#/components/schemas/image-path"
                    },
                    "production_companies": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "id": {
                            "type": "integer"
                          },
                          "origin_country": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "production_countries": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "iso_3166_1": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "release_date": {
                      "type": "string",
                      "format": "date"
                    },
                    "revenue": {
                      "type": "integer"
                    },
                    "spoken_languages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "iso_639_1": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "Rumored",
                        "Planned",
                        "In Production",
                        "Post Production",
                        "Released",
                        "Canceled"
                      ]
                    },
                    "title": {
                      "type": "string"
                    },
                    "video": {
                      "type": "boolean"
                    },
                    "vote_average": {
                      "type": "number"
                    },
                    "vote_count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status_message": {
                      "type": "string"
                    },
                    "status_code": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status_message": {
                      "type": "string"
                    },
                    "status_code": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/tv/{tv_id}": {
      "get": {
        "summary": "Get Details",
        "description": "Get the primary TV show details by id.\n\nSupports `append_to_response`. Read more about this [here](#docTextSection:JdZq8ctmcxNqyLQjp).\n\n#### Recent Changes\n\n| **Date** | **Change** |\n| - | - |\n| July 17, 2018 | We now return `last_episode_to_air` and `next_episode_to_air` fields. |\n| March 12, 2018 | Networks return proper logos and we introduced SVG support. |\n| March 8, 2018 | The `seasons` field now returns the translated names and overviews. |",
        "operationId": "getTvShowDetails",
        "parameters": [
          {
            "name": "tv_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "backdrop_path": {
                      "$ref": "#/components/schemas/image-path"
                    },
                    "created_by": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "credit_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "gender": {
                            "type": "integer"
                          },
                          "profile_path": {
                            "$ref": "#/components/schemas/image-path"
                          }
                        }
                      }
                    },
                    "episode_run_time": {
                      "type": "array",
                      "items": {
                        "type": "integer"
                      }
                    },
                    "first_air_date": {
                      "type": "string",
                      "format": "date",
                      "nullable": true
                    },
                    "genres": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "homepage": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "in_production": {
                      "type": "boolean"
                    },
                    "languages": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "last_air_date": {
                      "type": "string",
                      "format": "date",
                      "nullable": true
                    },
                    "last_episode_to_air": {
                      "type": "object",
                      "properties": {
                        "air_date": {
                          "type": "string",
                          "format": "date",
                          "nullable": true
                        },
                        "episode_number": {
                          "type": "integer"
                        },
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "overview": {
                          "type": "string"
                        },
                        "production_code": {
                          "type": "string"
                        },
                        "season_number": {
                          "type": "integer"
                        },
                        "show_id": {
                          "type": "integer"
                        },
                        "still_path": {
                          "$ref": "#/components/schemas/image-path"
                        },
                        "vote_average": {
                          "type": "number"
                        },
                        "vote_count": {
                          "type": "integer"
                        }
                      }
                    },
                    "name": {
                      "type": "string"
                    },
                    "networks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "id": {
                            "type": "integer"
                          },
                          "logo_path": {
                            "type": "string"
                          },
                          "origin_country": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "number_of_episodes": {
                      "type": "integer"
                    },
                    "number_of_seasons": {
                      "type": "integer"
                    },
                    "origin_country": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "original_language": {
                      "type": "string"
                    },
                    "original_name": {
                      "type": "string"
                    },
                    "overview": {
                      "type": "string"
                    },
                    "popularity": {
                      "type": "number"
                    },
                    "poster_path": {
                      "$ref": "#/components/schemas/image-path"
                    },
                    "production_companies": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "origin_country": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "seasons": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "air_date": {
                            "type": "string",
                            "format": "date",
                            "nullable": true
                          },
                          "episode_count": {
                            "type": "integer"
                          },
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "overview": {
                            "type": "string"
                          },
                          "poster_path": {
                            "type": "string",
                            "nullable": true
                          },
                          "season_number": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "status": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "vote_average": {
                      "type": "number"
                    },
                    "vote_count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status_message": {
                      "type": "string"
                    },
                    "status_code": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status_message": {
                      "type": "string"
                    },
                    "status_code": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/tv/{tv_id}/season/{season_number}/episode/{episode_number}": {
      "get": {
        "summary": "Get Details",
        "description": "Get the TV episode details by id.\n\nSupports `append_to_response`. Read more about this [here](#docTextSection:JdZq8ctmcxNqyLQjp).\n\n#### Recent Changes\n\n| **Date** | **Change** |\n| - | - |\n| June 1, 2018 | Added the [translations](#endpoint:5SFwZar3LkP99QMp7) method. |",
        "operationId": "getTvShowEpisodeDetails",
        "parameters": [
          {
            "name": "tv_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "season_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "episode_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "air_date": {
                      "type": "string",
                      "format": "date",
                      "nullable": true
                    },
                    "crew": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "credit_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "department": {
                            "type": "string"
                          },
                          "job": {
                            "type": "string"
                          },
                          "profile_path": {
                            "$ref": "#/components/schemas/image-path"
                          }
                        }
                      }
                    },
                    "episode_number": {
                      "type": "integer"
                    },
                    "guest_stars": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "credit_id": {
                            "type": "string"
                          },
                          "character": {
                            "type": "string"
                          },
                          "order": {
                            "type": "integer"
                          },
                          "profile_path": {
                            "$ref": "#/components/schemas/image-path"
                          }
                        }
                      }
                    },
                    "name": {
                      "type": "string"
                    },
                    "overview": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "season_number": {
                      "type": "integer"
                    },
                    "still_path": {
                      "$ref": "#/components/schemas/image-path"
                    },
                    "vote_average": {
                      "type": "number"
                    },
                    "vote_count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status_message": {
                      "type": "string"
                    },
                    "status_code": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status_message": {
                      "type": "string"
                    },
                    "status_code": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "image-path": {
        "title": "image-path",
        "type": "string",
        "nullable": true
      },
      "movie-list-object": {
        "title": "Movie List Result Object",
        "type": "object",
        "properties": {
          "poster_path": {
            "$ref": "#/components/schemas/image-path"
          },
          "adult": {
            "type": "boolean"
          },
          "overview": {
            "type": "string"
          },
          "release_date": {
            "type": "string"
          },
          "genre_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "id": {
            "type": "integer"
          },
          "original_title": {
            "type": "string"
          },
          "original_language": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "backdrop_path": {
            "$ref": "#/components/schemas/image-path"
          },
          "popularity": {
            "type": "number"
          },
          "vote_count": {
            "type": "integer"
          },
          "video": {
            "type": "boolean"
          },
          "vote_average": {
            "type": "number"
          }
        }
      },
      "tv-list-result-object": {
        "title": "TV List Result Object",
        "type": "object",
        "properties": {
          "poster_path": {
            "$ref": "#/components/schemas/image-path"
          },
          "popularity": {
            "type": "number"
          },
          "id": {
            "type": "integer"
          },
          "backdrop_path": {
            "$ref": "#/components/schemas/image-path"
          },
          "vote_average": {
            "type": "number"
          },
          "overview": {
            "type": "string"
          },
          "first_air_date": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "origin_country": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "genre_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "original_language": {
            "type": "string"
          },
          "vote_count": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "original_name": {
            "type": "string"
          }
        }
      }
    },
    "responses": {
      "trait:sessionErrors:401": {
        "description": "",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer"
                },
                "status_message": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "trait:standardErrors:401": {
        "description": "",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "status_message": {
                  "type": "string"
                },
                "status_code": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "trait:standardErrors:404": {
        "description": "",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "status_message": {
                  "type": "string"
                },
                "status_code": {
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "api_key": {
        "type": "apiKey",
        "name": "api_key",
        "in": "query"
      }
    }
  }
}
