{% set map = {
    'success': 'success',
    'info': 'info',
    'warning': 'warning',
    'error': 'danger',
} %}

<div id="flash-messages" class="c-alert">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ map[label] }}" role="alert">
                {{ message|trans }}
            </div>
        {% endfor %}
    {% endfor %}
</div>
